<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>dice_shadow0000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{104,111}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{104,111}</string>
				<key>spriteSourceSize</key>
				<string>{104,111}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{4,4},{104,111}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>dice_shadow0001</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{104,111}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{104,111}</string>
				<key>spriteSourceSize</key>
				<string>{104,111}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{4,4},{104,111}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>dice_shadow0002</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{104,111}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{104,111}</string>
				<key>spriteSourceSize</key>
				<string>{104,111}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{4,4},{104,111}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>dice_shadow0003</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{104,111}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{104,111}</string>
				<key>spriteSourceSize</key>
				<string>{104,111}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{4,4},{104,111}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>dice_shadow0004</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{104,111}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{104,111}</string>
				<key>spriteSourceSize</key>
				<string>{104,111}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{4,4},{104,111}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>dice_shadow0005</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{104,111}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{104,111}</string>
				<key>spriteSourceSize</key>
				<string>{104,111}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{4,4},{104,111}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>dice_shadow0006</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{104,111}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{104,111}</string>
				<key>spriteSourceSize</key>
				<string>{104,111}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{112,4},{104,111}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>dice_shadow0007</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{104,111}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{104,111}</string>
				<key>spriteSourceSize</key>
				<string>{104,111}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{4,119},{104,111}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>dice_shadow0008</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{104,111}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{104,111}</string>
				<key>spriteSourceSize</key>
				<string>{104,111}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{112,119},{104,111}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>dice_shadow0009</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{104,111}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{104,111}</string>
				<key>spriteSourceSize</key>
				<string>{104,111}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{4,4},{104,111}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>dice_shadow0010</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{104,111}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{104,111}</string>
				<key>spriteSourceSize</key>
				<string>{104,111}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{4,4},{104,111}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>dice_shadow0011</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{104,111}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{104,111}</string>
				<key>spriteSourceSize</key>
				<string>{104,111}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{4,4},{104,111}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>dice_shadow0012</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{104,111}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{104,111}</string>
				<key>spriteSourceSize</key>
				<string>{104,111}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{4,4},{104,111}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>dice_shadow0013</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{104,111}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{104,111}</string>
				<key>spriteSourceSize</key>
				<string>{104,111}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{4,4},{104,111}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>dice_shadow0014</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{104,111}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{104,111}</string>
				<key>spriteSourceSize</key>
				<string>{104,111}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{4,4},{104,111}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>dice_shadow0015</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{104,111}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{104,111}</string>
				<key>spriteSourceSize</key>
				<string>{104,111}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{112,4},{104,111}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>dice_shadow0016</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{104,111}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{104,111}</string>
				<key>spriteSourceSize</key>
				<string>{104,111}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{4,119},{104,111}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>dice_shadow0017</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{104,111}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{104,111}</string>
				<key>spriteSourceSize</key>
				<string>{104,111}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{112,119},{104,111}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>dice_shadow0018</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{104,111}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{104,111}</string>
				<key>spriteSourceSize</key>
				<string>{104,111}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{4,4},{104,111}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>dice_shadow0019</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{104,111}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{104,111}</string>
				<key>spriteSourceSize</key>
				<string>{104,111}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{4,4},{104,111}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>dice_shadow0020</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{104,111}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{104,111}</string>
				<key>spriteSourceSize</key>
				<string>{104,111}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{4,4},{104,111}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>dice_shadow0021</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{104,111}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{104,111}</string>
				<key>spriteSourceSize</key>
				<string>{104,111}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{4,4},{104,111}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>dice_shadow0022</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{104,111}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{104,111}</string>
				<key>spriteSourceSize</key>
				<string>{104,111}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{4,4},{104,111}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>dice_shadow0023</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{104,111}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{104,111}</string>
				<key>spriteSourceSize</key>
				<string>{104,111}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{4,4},{104,111}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>dice_shadow0024</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{104,111}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{104,111}</string>
				<key>spriteSourceSize</key>
				<string>{104,111}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{112,4},{104,111}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>dice_shadow0025</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{104,111}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{104,111}</string>
				<key>spriteSourceSize</key>
				<string>{104,111}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{4,119},{104,111}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>dice_shadow0026</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{104,111}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{104,111}</string>
				<key>spriteSourceSize</key>
				<string>{104,111}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{112,119},{104,111}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>dice_shadow0027</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{104,111}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{104,111}</string>
				<key>spriteSourceSize</key>
				<string>{104,111}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{4,4},{104,111}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>dice_shadow0028</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{104,111}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{104,111}</string>
				<key>spriteSourceSize</key>
				<string>{104,111}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{4,4},{104,111}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>dice_shadow0029</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{104,111}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{104,111}</string>
				<key>spriteSourceSize</key>
				<string>{104,111}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{4,4},{104,111}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>dice_shadow0030</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{104,111}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{104,111}</string>
				<key>spriteSourceSize</key>
				<string>{104,111}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{4,4},{104,111}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>dice_shadow0031</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{104,111}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{104,111}</string>
				<key>spriteSourceSize</key>
				<string>{104,111}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{4,4},{104,111}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>dice_shadow0032</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{104,111}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{104,111}</string>
				<key>spriteSourceSize</key>
				<string>{104,111}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{4,4},{104,111}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>dice_shadow0033</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{104,111}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{104,111}</string>
				<key>spriteSourceSize</key>
				<string>{104,111}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{112,4},{104,111}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>dice_shadow0034</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{104,111}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{104,111}</string>
				<key>spriteSourceSize</key>
				<string>{104,111}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{4,119},{104,111}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>dice_shadow0035</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{104,111}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{104,111}</string>
				<key>spriteSourceSize</key>
				<string>{104,111}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{112,119},{104,111}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>3</integer>
			<key>size</key>
			<string>{256,256}</string>
			<key>target</key>
			<dict>
				<key>name</key>
				<string>dice_shadow_ss.png</string>
				<key>textureFileName</key>
				<string>dice_shadow_ss</string>
				<key>textureFileExtension</key>
				<string>png</string>
				<key>premultipliedAlpha</key>
				<true/>
			</dict>
		</dict>
	</dict>
</plist>
