<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>dice0000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{103,110}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{103,110}</string>
				<key>spriteSourceSize</key>
				<string>{103,110}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{3,3},{103,110}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>dice0001</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{103,110}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{103,110}</string>
				<key>spriteSourceSize</key>
				<string>{103,110}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{109,3},{103,110}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>dice0002</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{103,110}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{103,110}</string>
				<key>spriteSourceSize</key>
				<string>{103,110}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{215,3},{103,110}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>dice0003</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{103,110}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{103,110}</string>
				<key>spriteSourceSize</key>
				<string>{103,110}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{321,3},{103,110}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>dice0004</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{103,110}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{103,110}</string>
				<key>spriteSourceSize</key>
				<string>{103,110}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{3,116},{103,110}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>dice0005</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{103,110}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{103,110}</string>
				<key>spriteSourceSize</key>
				<string>{103,110}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{109,116},{103,110}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>dice0006</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{103,110}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{103,110}</string>
				<key>spriteSourceSize</key>
				<string>{103,110}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{215,116},{103,110}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>dice0007</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{103,110}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{103,110}</string>
				<key>spriteSourceSize</key>
				<string>{103,110}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{321,116},{103,110}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>dice0008</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{103,110}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{103,110}</string>
				<key>spriteSourceSize</key>
				<string>{103,110}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{3,229},{103,110}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>dice0009</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{103,110}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{103,110}</string>
				<key>spriteSourceSize</key>
				<string>{103,110}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{109,229},{103,110}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>dice0010</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{103,110}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{103,110}</string>
				<key>spriteSourceSize</key>
				<string>{103,110}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{215,229},{103,110}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>dice0011</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{103,110}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{103,110}</string>
				<key>spriteSourceSize</key>
				<string>{103,110}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{321,229},{103,110}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>dice0012</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{103,110}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{103,110}</string>
				<key>spriteSourceSize</key>
				<string>{103,110}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{3,342},{103,110}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>dice0013</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{103,110}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{103,110}</string>
				<key>spriteSourceSize</key>
				<string>{103,110}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{109,342},{103,110}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>dice0014</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{103,110}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{103,110}</string>
				<key>spriteSourceSize</key>
				<string>{103,110}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{215,342},{103,110}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>dice0015</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{103,110}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{103,110}</string>
				<key>spriteSourceSize</key>
				<string>{103,110}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{321,342},{103,110}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>dice0016</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{103,110}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{103,110}</string>
				<key>spriteSourceSize</key>
				<string>{103,110}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{3,455},{103,110}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>dice0017</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{103,110}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{103,110}</string>
				<key>spriteSourceSize</key>
				<string>{103,110}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{109,455},{103,110}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>dice0018</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{103,110}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{103,110}</string>
				<key>spriteSourceSize</key>
				<string>{103,110}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{215,455},{103,110}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>dice0019</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{103,110}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{103,110}</string>
				<key>spriteSourceSize</key>
				<string>{103,110}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{321,455},{103,110}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>dice0020</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{103,110}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{103,110}</string>
				<key>spriteSourceSize</key>
				<string>{103,110}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{3,568},{103,110}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>dice0021</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{103,110}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{103,110}</string>
				<key>spriteSourceSize</key>
				<string>{103,110}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{109,568},{103,110}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>dice0022</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{103,110}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{103,110}</string>
				<key>spriteSourceSize</key>
				<string>{103,110}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{215,568},{103,110}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>dice0023</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{103,110}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{103,110}</string>
				<key>spriteSourceSize</key>
				<string>{103,110}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{321,568},{103,110}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>dice0024</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{103,110}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{103,110}</string>
				<key>spriteSourceSize</key>
				<string>{103,110}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{3,681},{103,110}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>dice0025</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{103,110}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{103,110}</string>
				<key>spriteSourceSize</key>
				<string>{103,110}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{109,681},{103,110}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>dice0026</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{103,110}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{103,110}</string>
				<key>spriteSourceSize</key>
				<string>{103,110}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{215,681},{103,110}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>dice0027</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{103,110}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{103,110}</string>
				<key>spriteSourceSize</key>
				<string>{103,110}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{321,681},{103,110}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>dice0028</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{103,110}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{103,110}</string>
				<key>spriteSourceSize</key>
				<string>{103,110}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{3,794},{103,110}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>dice0029</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{103,110}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{103,110}</string>
				<key>spriteSourceSize</key>
				<string>{103,110}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{109,794},{103,110}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>dice0030</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{103,110}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{103,110}</string>
				<key>spriteSourceSize</key>
				<string>{103,110}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{215,794},{103,110}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>dice0031</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{103,110}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{103,110}</string>
				<key>spriteSourceSize</key>
				<string>{103,110}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{321,794},{103,110}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>dice0032</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{103,110}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{103,110}</string>
				<key>spriteSourceSize</key>
				<string>{103,110}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{3,907},{103,110}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>dice0033</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{103,110}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{103,110}</string>
				<key>spriteSourceSize</key>
				<string>{103,110}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{109,907},{103,110}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>dice0034</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{103,110}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{103,110}</string>
				<key>spriteSourceSize</key>
				<string>{103,110}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{215,907},{103,110}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>dice0035</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{103,110}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{103,110}</string>
				<key>spriteSourceSize</key>
				<string>{103,110}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{321,907},{103,110}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>3</integer>
			<key>size</key>
			<string>{512,1024}</string>
			<key>target</key>
			<dict>
				<key>name</key>
				<string>dice_ss.png</string>
				<key>textureFileName</key>
				<string>dice_ss</string>
				<key>textureFileExtension</key>
				<string>png</string>
				<key>premultipliedAlpha</key>
				<true/>
			</dict>
		</dict>
	</dict>
</plist>
